body {
  background-color: #FAFAFA;
}

.App {
  text-align: center;
}

.App-logo {
  position: relative;
  top: 5vmin;
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 150px;
  pointer-events: none;
}

.App-title {
  position: fixed;
  align-self: left;
  height: 50px;
  margin-top: 25px;
}

.App-name {
  position: relative;
  top: 5vmin;
  pointer-events: none;
}

.App-header {
  position: fixed;
  background-color: #F44336;
  left: 50%;
  width: 50%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

#Background {
  position: fixed;
  background-color: rgb(190, 9, 190);
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
  z-index: 1;
}

.App-link {
  color: #61dafb;
}
.Home {
  width:  100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.home-row-medium {
  position: relative;
  display: flex;
  flex-direction: row;
}
.home-colm {
  flex: 1;
}
.home-row {
  justify-items: center;
}

.home-status {
  margin-left:-20%;
  height: 240px !important;
  width: 40%;
}

.Button {
  margin-left: 5%;
  margin-top: 10px;
  display: flex;
  background: #FFFFFF;
  font-family: Roboto-Bold;
  font-size: 20px;
  text-align: left;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 20px;
  color: #000000;
  height: 120px;
  width: 90%;
}

.btn-image {
  margin-left:10px;
  size: 10px;
  width: 80%;
  height: auto;
}

.Big {

}

.Status {
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 20px;
}

.Menu {
  top: 0px;
  width: 100%;
  height: 100px;
  background: #BB0F03;

  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  
}

.Menu-button {
  font-family: Roboto-Bold;
  font-size: 34px;
  width: 30%px;
  color: #FFFFFF;
  background: none;
  padding: 0;
  border: none;
  outline: none; 
  text-align: center;
}
.Menu-button:hover {
  cursor: pointer;
  color: #E9EDF1;
  }
  
.Menu-button:active {
  outline: none;
  border: none;
  color: #E9EDF1;
}
  
.Menu-button:focus {
  outline:0;
  color: #bebebe;
}

.Left-side {
  position: fixed;
  top: 0px;
  width: 50%;
}

.left-body {
  direction: row;
  justify-items: center;
}

.Left {
  background: #E9EDF1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
